{{extend 'layout.html'}}

<div class="span-14">
<h2>About Us</h2>

<p>Pricetack is based in San Francisco, CA. Our team has experience from American Express, PayPal, eBay, Intuit and Eventbrite. We are are anxious to bring the best online buying and selling experience to users worldwide.</p>
<p>Pricetack offers a unique "falling price" selling method for many types of merchants and items. Buyers may purchase at the prevailing price or be notified when a lower price is reached. However, waiting can risk losing out altogether!</p>
<p>Please feel free to contact us with any questions or feedback: <a href="mailto:info@pricetack.com">info@pricetack.com</a></p>
<p>&nbsp;</p>
<p><center><h3><a class="btn cta-btn" href="{{=URL('default', 'user', args='register')}}">&nbsp;list an item now free&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{=URL('learn-more')}}">learn more</a></h3></center></p>
</div>